<!DOCTYPE html>
<html>
<head>
<title>DevOps Interview Bot</title>

<style>

body{
font-family:Arial;
padding:40px;
}

textarea{
width:100%;
height:100px;
}

button{
padding:10px;
margin-top:10px;
}

.answer{
margin-top:20px;
background:#f4f4f4;
padding:20px;
}

</style>

</head>

<body>

<h1>DevOps Interview Bot</h1>

<form method="post">

<textarea
name="question"
placeholder="Ask DevOps Question">
</textarea>

<br>

<button type="submit">
Ask
</button>

</form>

<div class="answer">
{{answer}}
</div>

</body>

</html>